.footer-text {
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    /* background-color: #f9f9f9; */
    border-top: .05rem solid #e5e5e5;
    transition: margin-left .5s;
}

/* .footer p:last-child {
    margin-bottom: 0;
} */

.slide {
    margin-left: 500px;
}