<nav class="navbar navbar-light justify-content-between">
    <div class="form-inline mr-3">
        <h5>Search products</h5>
        <div class="input-search">
            <input
                class="form-control form-control-sm mr-sm-2"
                type="search"
                placeholder="Search:"
                [(ngModel)]="searchVal"
                name="searchVal"
                (input)="onSearch()"
            >
            <i
                class="fa fa-search"
                aria-hidden="true"
            ></i>
        </div>
    </div>
</nav>
