<div class="container  mt-4 shadow p-1">
    <div id="body">
        <div class="start-shopping">
            <div class="start-btn shadow-sm">
                <div
                    class="card"
                    style="width: 25rem;"
                >
                    <div class="card-header">Status</div>
                    <div class="card-body">


                        <div *ngIf="buttonStatus === 'Continue shopping'">
                            <span class="text-danger">Open cart from date:</span>
                            <p>{{lastDateCartCreated}}</p>
                            <span class="text-danger">Total Price:</span>
                            <p>${{totalPrice}}</p>
                        </div>


                        <div *ngIf="buttonStatus === 'Start shopping'">
                            <h6>Last order:</h6>
                            <span class="text-danger">Send to:</span>
                            <p>
                                {{lastOrder?.city_to_send}}/{{lastOrder?.street_to_send}}
                            </p>
                            <span class="text-danger">Total price:</span>


                            <p>${{lastOrder?.total_price}}</p>
                            <span class="text-danger">Will send date:</span>


                            <p>{{lastOrder?.date_to_send}}</p>
                        </div>


                        <button
                            type="button"
                            (click)="start()"
                            class="btn btn-sm shadow-sm"
                            id="start"
                        >
                            {{buttonStatus}}
                        </button>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
