.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    /* margin-top: 1rem; */
    border: 0.9px solid rgb(243, 243, 243);
    box-shadow: 2px 4px 5px whitesmoke;
    background-color: white;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    /* margin: 1rem; */
}

.form-signin input {
    border-radius: 0;
}

h1, h6 {
    text-align: center;
    margin-top: 20px;
}

.btn-sm {
    margin-top: 1rem;
    background-color: rgb(35, 180, 146);
    color: white;
    font-weight: 500;
    box-shadow: 1px 2px 3px rgb(218, 218, 218);
}

.btn-sm:hover {
    opacity: 0.9;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

a {
    text-decoration: none;
}

.inputs {
    margin-bottom: 0.5rem;
}