<h2 class="text-center mt-2 mb-1">About us</h2>
<h5>Why should u buy on our shop ?</h5>

<p>
    1.       The goodness of fruit and vegetables
Fruit and vegetables are naturally low in energy, fat, and salt. They are also wonderful sources of fibre and many vitamins, minerals and phytochemicals – natural components in fruit and vegetables that offer health benefits beyond nutrition.

Scientific evidence shows that those who eat a diet rich in fruit and vegetables have a lower risk of many diseases, including heart disease, stroke and certain cancers. Health promotion authorities worldwide encourage people to include more fruit and vegetables in their diet.
</p>
<hr>
<p>
    2.       Variety is the key 
When it comes to fruit and vegetables, we are truly spoilt for choice in Singapore. Any wet market or supermarket would have an abundant display of produce from all over the world.

While fruit and vegetables have some common nutritional values, they do differ in their actual composition. For example, some are higher in fibre, while others may provide you more vitamin C, beta-carotene or potassium. Even the different colour pigments in fruit and vegetables offer unique health benefits. So, eat a variety of these wonderful gifts of nature to ensure your wellness and health.
</p>
