.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
    transition: 0.5s;
    margin-bottom: 1rem;
}

.sidenav::-webkit-scrollbar {
    background-color: #333;
}

.sidenav::-webkit-scrollbar-thumb {
    background-color: rgb(228, 54, 112);
    border-radius: 8px;
}

.count {
    font-weight: 800;
}

.open {
    width: 500px;
    transition: 0.5s;
}

.fa-shopping-cart:hover {
    opacity: 0.5;
}

/* .open-cart:hover {
    opacity: 0.5;
} */